<H3>Multiple locations found. Please choose one:</H3>

<% @report.geoplanet_location.each do |t| %>
<p>
	<%= t.name %>, <%= t.admin1 %> (<%= t.country %>) | 
	<%= link_to 'Select', {:controller => :reports, :action => :new, :report => {:location => "#{t.name} #{t.admin1}"}} %>
</p>
<% end %>